dialog {
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #5b6eacb9;
}
dialog.dialog-me {
  position: relative;
  z-index: 9999;
  top: -250%;
  left: -300%;
  margin-left: auto;
  margin-right: auto;
}
dialog * {
  background-color: #5b6eac00;
}
dialog button {
  border: 2px solid #343541;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 1px;
  scale: 1;
}
form {
  padding: 0;
  margin: 0;
}
