@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    color:#d7d8da;
    background-color:#242424;
    font-family: 'Roboto', sans-serif;
}
body{
    width: auto;
    height: auto;
    pointer-events: all;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow-y: hidden; 
    overflow-x: hidden;
}
/* TONK STYLE: */
.grid {
    display: grid;
    grid-template-columns: repeat(15, 50px);
    grid-template-rows: repeat(15, 50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
  }
  
  .square {
    width: 50px;
    height: 50px;
    background-image: url("pictures/grid.svg");
}
button {
    appearance: none;
    border: none;
}
dialog {
    position: relative;
    border: none;
    top: -100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }
a {
    color: lightcyan;
}
a:hover {
    color: lightsteelblue;
}
